include header

    div(class='main')
      p Серверная часть приложения Тех обслуживания модемов
        form(action="/calculate" method="GET")
         input(type='submit' value="Посчитать")

 
         

include footer


